@charset "UTF-8";
/*Para importar fonte do Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

/*
@font-face {
    font-family: '';
    src: url() format('opentype');
    font-weight: normal;
}
*/



*{
margin: 0px;
}

html,body{
    min-height: 100vh;
    font-family: var(--fonte1);
}

div.cabecalho{
    width: 100%;
    background-color: black;
}

div.cabecalho > h1{
    padding-top:30px;
    color: white;
    font-family: var(--fonte2);
    text-align: center;
    font-variant: small-caps;
    /* ---- VW - VIEW PORT WIDTH -----
    Coloca o tamanho da fonte de acordo com o tamanho da
    tela*/
    font-size: 10vw;
    font-weight: bold;
    /* --------  Iniciais maiores (CAPS) --------
    COLOCA SOMENTE A PRIMEIRA LETRA DE CADA PALAVRA MAIOR
    MAS TODAS SÃO MAIUSCULAS ---
       ---- font-variant: small-caps;
    */
}


div.cabecalho > p{
    color: white;
    text-align: center;
    font-size: 4.5vw;
    font-family: var(--fonte3);
    padding-bottom: 30px;
    font-weight: bold;
    }


div.cabecalho a{
    text-decoration: none;
    color: white;
}

div.cabecalho a:hover{
    text-decoration: underline;
}



div.estrofes{
    /*
    padding-top: 30px;
    padding-left: 35px;
    line-height: 1.7em;
    */
    background-color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: var(--fonte3);
    min-width: 300px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.7em;
}
div.estrofes02{
    /*
    padding-top: 30px;
    padding-left: 35px;
    line-height: 1.7em;
    */
    background-color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.7em;

}
div.estrofes03{
    /*
    padding-top: 30px;
    padding-left: 35px
    line-height: 1.7em;
    */
    background-color: rgb(255, 255, 255);
    font-size: 4vw;
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.7em;

}
div.fundo01{
    
    background-image: url('https://github.com/professorguanabara/projeto-cordel/blob/master/imagens/background001.jpg?raw=true');    
    background-color: rgb(223, 173, 173);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center ;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.7em;
}
div.texto01 > p{
    /*Por ser inline-block ela se ajusta a pagina, 
    se fosse um box-level, ela ocuparia por padrão toda a
    largura da página*/
    display: inline-block;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.541)  ;
    font-size: 4vw;
    font-family: var(--fonte3);
    /* 1px - vertical
       1px - lateral
       0px - espalhamento
       0px - ampliação*/
    line-height: 1.7em;
    color: white;
    border-radius: 10px;
    line-height: 1.7em;
    
    
}

div.fundo02{
    background-image: url('https://github.com/professorguanabara/projeto-cordel/blob/master/imagens/background002.jpg?raw=true');    
    background-color: rgb(223, 173, 173);
    background-size: cover;
    background-attachment: fixed;
    background-position: right  center ;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.7em;
    
}
.texto02{
    /*Por ser inline-block ela se ajusta a pagina, 
    se fosse um box-level, ela ocuparia por padrão toda a
    largura da página*/
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.541)  ;
    font-size: 4vw;
    text-shadow: 2px 2px 0px black; 
    line-height: 1.7em;
    color: white;
    font-family: var(--fonte3);
    border-radius: 10px;
    padding: 10px;


}

div.rodape{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: black;

}

div.rodape > p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;


}